html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f7af8a !important;
}

#logo_index{
    width: 100%;
    padding-top: 32%;
}

.form-check {
    width: 50%;
    text-align: left;
    margin-left: 39%;
}

section{
    position: fixed;
    left: -140%;
    top: 0%;
    box-shadow: 2px 2px 31px black;
}

.in{
    transition-property: left;
    transition-duration: 2s;
    left: 0% !important;
    z-index: 2;
}

.out{
    transition-property: left;
    transition-duration: 3s;
    left: -140% !important;
    z-index: 1;
}

.radio-top{    
    margin-top: 9%;
}

input[type=radio] {
    border: 0px;
    width: 10%;
    margin-top: -2%;
    margin-left: -13%;
    height: 2em;
}

#stadistics_graph{
    width: 90% !important;
    height: 27% !important;
    background-color: white;
    margin-left: 5%;
}

#password_Login{
    margin-left: 12%;
}

#back{
    width: 16%;
    position: fixed;
    top: 3%;
    left: 5%;
}

#logo_schedules{
    width: 100%;
    padding-top: 10%;
}

#menu-icon{
    width: 74%;
    margin-bottom: 17%;
}

#spinner{
    margin-top: 80%;
    margin-left: 45%;
}

#div_charge{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.7;
    background-color: black;
}

.section{
    width: 100%;
    height: 100%;
    text-align: center;    
    background-color: #FCC4A7 !important;
}

.div_top_schedules{
    margin-top:8%;
}

.add_div{
    margin-top: 2%;
}

.password_logUp{
    margin-left: 11%;
}

.deleteBtn{
    position: absolute;
    background-image: url(../img/deleteBtn.png);
    background-position: center;
    background-size: 80%;
    width: 7%;
    height: 4%;
    margin-left: 2%;
    margin-left: 1%;
    background-repeat: no-repeat;
}

.addBtn{
    width: 5%;
    margin-top: -2%;
}

#btnMenu{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 12%;
}

.btn{
    font-size: 170% !important;
}

.btnFeed{
    width: 24%;
    font-size: 170%;
    margin-top: 20%;
}

#logo_about{
    width: 100%;
    padding: 6% 0% 3% 0%;
}

.span_index{
    font-family: Lato;
    font-size: 130%;
}

.div_span_about_us{
    margin-bottom: 10%;
}

.div_span_about_us_bottom{
    margin-top: 12%;
}

.span_about_us{
    font-family: Lato;
    font-size: 120%;
}

.span_schedules{
    color: #000000;
    font-family: Lato;
    font-size: 130%;
}

.btnLook{
    width: 10%;
}

.span_title_schedules{
    font-family: "Lato bold";
    font-size: 165%;
}

.span_about_us_title{
    font-family: "Lato bold";
    font-size: 165%;
}

.div_span_schedules{
    margin-bottom: 2%;
}

.div_span_index{
    margin-bottom: 2%;
}

.invisible{
    display: none !important;
}

.line_menu{
    width: 100%;
    height: 0.5%;
    background-color: #818181;
}

.line_schedule{
    width: 70%;
    font-size: 23%;
    background-color: #818181;
    white-space: pre-wrap;
    margin-left: 15%;
}

@font-face{
    font-family: "Lato";
    src: url("Lato-Regular.ttf")
}

@font-face{
    font-family: "Lato bold";
    src: url("Lato-Bold.ttf")
}

 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav .span_sidenav{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav .span_sidenav:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }  

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main_main_menu #main_schedules #main_stadistics #main_logIn{
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

#logo_login{
    width: 100%;
    padding-top: 32%;
}

#input_Login{
    border: none;
    border-bottom: solid gray 2px;
    color: gray;
    background-color: transparent;
    font-size: 25px;
    font-family: "Lato";
    cursor: pointer;
}

#button_Login{
    width: 115px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #5c5c5c;
    font-size: 25px;
    font-family: "Lato";
    cursor: pointer;
    color: white;
}

#a_Login{
    color: #4a74ff;
    text-decoration: underline; 
}

#logo_logUp{
    width: 100%;
    padding-top: 10%;
}

#input_LogUp{
    border: none;
    border-bottom: solid gray 2px;
    color: gray;
    background-color: transparent;
    font-size: 25px;
    font-family: "Lato";
    cursor: pointer;
}

#button_LogUp{
    width: 115px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #5c5c5c;
    font-size: 25px;
    font-family: "Lato";
    cursor: pointer;
    color: white;
}

#logo_recoveryAccount{
    width: 100%;
    padding-top: 30%;
}

#input_recoveryAccount{
    border: none;
    border-bottom: solid gray 2px;
    color: gray;
    background-color: transparent;
    font-size: 25px;
    font-family: "Lato";
    cursor: pointer;
}

#button_recoveryAccount{
    width: 115px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #5c5c5c;
    font-size: 25px;
    font-family: "Lato";
    cursor: pointer;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }