html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FCC4A7 !important;
}

#logo_index{
    width: 100%;
    padding-top: 32%;
}

#logo_schedules{
    width: 100%;
    padding-top: 10%;
}

#menu-icon{
    width: 74%;
    margin-bottom: 17%;
}

.section{
    width: 100%;
    height: 100%;
    text-align: center;
}

.div_top_schedules{
    margin-top:8%;
}

.add_div{
    margin-top: 2%;
}

.deleteBtn{
    width: 5%;
    margin-top: -2%;
}

#btnMenu{
    position: fixed;
    top: 5%;
    right: 5%;
    width: 12%;
}

.btn{
    font-size: 170% !important;
}

.btnFeed{
    width: 24%;
    font-size: 170%;
    margin-top: 20%;
}

.span_index{
    font-family: Lato;
    font-size: 130%;
}

.span_schedules{
    font-family: Lato;
    font-size: 130%;
}

.span_title_schedules{
    font-family: "Lato bold";
    font-size: 165%;
}

.div_span_schedules{
    margin-bottom: 2%;
}

.div_span_index{
    margin-bottom: 2%;
}

.invisible{
    display: none !important;
}

.line_menu{
    width: 100%;
    height: 0.5%;
    background-color: #818181;
}

.line_schedule{
    width: 70%;
    font-size: 23%;
    background-color: #818181;
    white-space: pre-wrap;
    margin-left: 15%;
}

@font-face{
    font-family: "Lato";
    src: url("Lato-Regular.ttf")
}

@font-face{
    font-family: "Lato bold";
    src: url("Lato-Bold.ttf")
}

 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav .span_sidenav{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav .span_sidenav:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main_main_menu #main_schedules #main_stadistics {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 
